<div class="sidebar-nav list-group">
  <ul class="matrix-list">
    {% if user.is_authenticated %}
      <li class="list-group-item">User:
        <a href="{{ user.get_absolute_url }}" class="matrix-link">{{ user.get_username }}</a></li>
      <li class="list-group-item">
        <form action="{% url 'user:logout' %}?next={{ request.path }}" method="post">
          {% csrf_token %}
          <button type="submit" class="matrix-button">Exit</button>
        </form>
      </li>
    {% else %}
      <li class="list-group-item"><a href="{% url 'user:login' %}?next={{ request.path }}" class="matrix-link">Enter</a>
      </li>
    {% endif %}
    <li class="list-group-item"><a href="{% url 'post:post-list' %}" class="matrix-link">Home</a></li>
    <li class="list-group-item"><a href="{% url 'post:tag-list' %}" class="matrix-link">Tags</a></li>
    <li class="list-group-item"><a href="{% url 'user:user-list' %}" class="matrix-link">Users</a></li>
  </ul>
</div>
