{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="sidebar-nav">
    {% if user == post.author or user.is_staff %}
      <a style="float: right" href="{% url 'post:post-delete' pk=post.id %}" class="btn-danger btn link-to-page">
        Delete
      </a>
      <a style="float: right" href="{% url 'post:post-update' pk=post.id %}" class="btn-secondary btn link-to-page">
        Update
      </a>
    {% endif %}
    <h1>{{ post.title }}</h1>
    <h6><strong>{{ post.author.username }}</strong> at {{ post.created_at }}</h6>
    <p><em>{{ post.content }}</em></p>
    <h5>Comment{{ post.comments_counter|pluralize }}: {{ post.comments_counter }}</h5>
    <ul class="matrix-blog-list">
      {% for comment in paginated_obj %}
        <li class="matrix-blog-item">
          <div class="comment-info">
            <span class="comment-author"><strong>{{ comment.author.username }}</strong></span> at <span
              class="comment-created">{{ comment.created_at }}</span>
          </div>
          {% if comment.author.id == request.user.id %}
            <div class="comment-actions">
              <a style="float: right" href="{% url 'post:comment-delete' pk=comment.id %}"
                 class="btn-danger btn link-to-page">
                Delete
              </a>
              <a style="float: right" href="{% url 'post:comment-update' pk=comment.id %}"
                 class="btn-secondary btn link-to-page">
                Update
              </a>
            </div>
          {% endif %}
          <div class="comment-content">
            {{ comment.content }}
          </div>

        </li>
      {% endfor %}
    </ul>
    <form action="" method="post" novalidate class="matrix-form">
      {% csrf_token %}
      {{ form|crispy }}
      <input type="submit" value="Add comment" class="matrix-button-primary">
    </form>
  </div>
{% endblock %}
