{% extends "base.html" %}

{% block content %}
  <a href="{% url 'post:post-delete' pk=post.id %}" class="btn btn-danger link-to-page">
    Delete
  </a>

  <a href="{% url 'post:post-update' pk=post.id %}" class="btn btn-secondary link-to-page">
    Update
  </a>
  <h1>{{ post.title }}</h1>
  <h6>{{ post.author.username }} at {{ post.created_at }}</h6>
  <p>{{ post.content }}</p>
  <h5>Comment{{ post.comments_counter|pluralize }}: {{ post.comments_counter }}</h5>
  <ul class="blog-list">
    {% for comment in comments %}
      <li class="blog-item">
        {{ comment.author.username }} at {{ comment.created_at }}
        <br>
        {{ comment.content }}
        {% if comment.author.id == request.user.id %}
          <a href="{% url 'post:comment-update' pk=comment.id %}" class="btn btn-secondary link-to-page">
            Update
          </a>
          <a href="{% url 'post:comment-delete' pk=comment.id %}" class="btn btn-danger link-to-page">
            Delete
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
  <form action="" method="post" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>

{% endblock %}
