{% extends "base.html" %}

{% block content %}
  <h1>Tags</h1>
  <form method="get" action="" class="form-inline">
    {{ search_form.as_p }}
    <input type="submit" value="🔎" class="btn btn-secondary">
  </form>
  <a style="float: right" href="{% url 'post:tag-create' %}" class="btn btn-primary link-to-page">
    Create
  </a>
  <ul class="blog-list">
    {% for tag in tag_list %}
      <li class="blog-item">
        <p><a href="{{ tag.get_absolute_url }}">{{ tag.name }}</a></p>
      </li>
    {% endfor %}
  </ul>

{% endblock %}