{% extends "base.html" %}

{% block content %}
  <div class="sidebar-nav">
    <a style="float: right" href="{% url 'post:tag-delete' pk=tag.id %}" class="matrix-button-danger link-to-page">
      Delete
    </a>
    <a style="float: right" href="{% url 'post:tag-update' pk=tag.id %}" class="matrix-button-secondary link-to-page">
      Update
    </a>

    <h1>{{ tag.name }}</h1>
    <h4>Related posts:</h4>
    {% if paginated_obj %}
      <table class="table">
        <tr>
          <th>Post</th>
          <th>All Tags</th>
        </tr>
        {% for post in paginated_obj %}
          <tr>
            <td><a href="{{ post.get_absolute_url }}" class="matrix-link">{{ post.title }}</a></td>
            <td>
              {% for tag in post.tag.all %}
                {{ tag.name }} |
              {% endfor %}
            </td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>There are no posts related to this tag</p>
    {% endif %}
  </div>
{% endblock %}
