{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="sidebar-nav">
    {% if user.is_staff %}
      <a style="float: right" href="{% url 'user:user-create' %}"
         class="matrix-button-primary btn-primary btn link-to-page">
        Create
      </a>
    {% endif %}
    <h1>Users</h1>
    <form method="get" action="" class="matrix-form-inline form-inline">
      {{ search_form|crispy }}
      <input type="submit" value="🔎" class="btn-secondary btn">
    </form>
    <table class="table">
      <tr>
        <th>User</th>
        <th>Posts written</th>
        <th>Comments left</th>
      </tr>
      {% for user in user_list %}
        <tr>
          <td><a href="{{ user.get_absolute_url }}" class="matrix-link">{{ user.username }}</a></td>
          <td>{{ user.posts_counter }}</td>
          <td>{{ user.comments_counter }}</td>
        </tr>
      {% endfor %}
    </table>
  </div>
{% endblock %}
