{% extends "base.html" %}

{% block content %}
  <div class="sidebar-nav">
    <a style="float: right" href="{% url 'user:user-delete' pk=user.id %}" class="btn-danger btn link-to-page">
      Delete
    </a>
    <a style="float: right" href="{% url 'user:user-update' pk=user.id %}" class="btn-secondary btn link-to-page">
      Update
    </a>


    <h1><strong>{{ user.username }}</strong></h1>
    <h6>{{ user.first_name }} {{ user.last_name }}</h6>
    <h3>Posts:</h3>
    {% if paginated_obj %}
      <table class="table">
        <tr>
          <th>Title</th>
          <th>Created at</th>
          <th>Comments</th>
        </tr>
        {% for post in paginated_obj %}
          <tr>
            <td><a href="{{ post.get_absolute_url }}" class="matrix-link">{{ post.title }}</a></td>
            <td>{{ post.created_at }}</td>
            <td>{{ post.comments_counter }}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p>This user doesn't have posts yet!</p>
    {% endif %}
  </div>
{% endblock %}
