{% extends "base.html" %}

{% block content %}
  <a href="{% url 'user:user-delete' pk=user.id %}" class="btn btn-danger link-to-page">
    Delete
  </a>
  <a href="{% url 'user:user-update' pk=user.id %}" class="btn btn-secondary link-to-page">
    Update
  </a>
  <h1>{{ user.username }}</h1>
  <h6>{{ user.first_name }} {{ user.last_name }}</h6>
  <h5>Posts:</h5>
  <ul class="blog-list">
    {% for post in posts %}
      <li class="blog-item">
        <h4> {{ post.title }} </h4>>
        <h6>Created at: {{ post.created_at }}</h6>
        <p>{{ post.content }}</p>
      </li>
    {% endfor %}
  </ul>
  
{% endblock %}
